/* *********************************************************************
 * DataTables Styles
 * *********************************************************************/

.dataTables_wrapper table					{ margin: 5px 0px 5px 0px !important; }
.dataTables_wrapper .dataTables_length 				{ margin: 5px 0px 5px 5px !important; padding: 0 !important; }
.dataTables_wrapper .dataTables_filter 				{ margin: 5px 5px 5px 0px !important; padding: 0 !important; }
.dataTables_wrapper .dataTables_info{margin: 5px 0px 5px 5px !important; padding: 0 !important;}
.dataTables_wrapper .dataTables_paginate 			{ line-height: 0px !important; margin: 5px 5px 5px 0px !important; padding: 0 !important; }

.main-wrap{padding-top: 15px !important; }

.content-box			{ margin-bottom: 20px !important;}

.content-box .iconbar		{ height: 120px !important; }
.content-box .iconbar .box-wrap	{ padding:5px 20px !important; }
