<div class="content-box clear">
    @Html.Partial("_IconSettingPartial")
</div>
<div class="content-main">
    <div id="user-list">
        <p>
            @Html.ActionLink("Create User", "Create", "User", new { @class = "button" })
        </p>
        <div id="users-data-table">
            <table id="userDataTable" class="dataTable">
                <thead>
                    <tr>
                        <th>
                            Options
                        </th>
                        <th>
                            User Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Full Name
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Phone Number
                        </th>
                        <th>
                            Mobile Number
                        </th>
                        <th>
                            Create Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/App/user-jquery.js")" type="text/javascript"></script>
