<div style="position: relative; display: block;" class="main-icons jcarousel-container jcarousel-container-horizontal" id="iconbar">
    <div style="position: relative;" class="jcarousel-clip jcarousel-clip-horizontal">
        <ul style="overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px;
            left: 0px; width: 1530px;" class="clear jcarousel-list jcarousel-list-horizontal">
            <li jcarouselindex="1" style="float: left; list-style: none outside none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal">
                <a href="#">
                    <img src="../Images/ico_users_64.png" class="icon" alt=""><span class="text">User Management</span></a></li>
            <li jcarouselindex="2" style="float: left; list-style: none outside none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-2 jcarousel-item-2-horizontal">
                <a href="#">
                    <img src="../Images/ico_page_64.png" class="icon" alt=""><span class="text">Properties purchase</span></a></li>
            <li jcarouselindex="3" style="float: left; list-style: none outside none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-3 jcarousel-item-3-horizontal">
                <a href="#">
                    <img src="../Images/ico_picture_64.png" class="icon" alt=""><span class="text">Properties Sale</span></a></li>
            <li jcarouselindex="4" style="float: left; list-style: none outside none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-4 jcarousel-item-4-horizontal">
                <a href="#">
                    <img src="../Images/ico_clock_64.png" class="icon" alt=""><span class="text">Client</span></a></li>
            <li jcarouselindex="5" style="float: left; list-style: none outside none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-5 jcarousel-item-5-horizontal">
                <a href="#">
                    <img src="../Images/ico_clients_64.png" class="icon" alt=""><span class="text">Supliare</span></a></li>
            <li jcarouselindex="6" style="float: left; list-style: none outside none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-6 jcarousel-item-6-horizontal">
                <a href="#">
                    <img src="../Images/ico_settings_64.png" class="icon" alt=""><span class="text">Settings</span></a></li>
            <li jcarouselindex="7" style="float: left; list-style: none outside none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-7 jcarousel-item-7-horizontal">
                <a href="#modal" class="modal-link">
                    <img src="../Images/ico_chat_64.png" class="icon" alt=""><span class="text">Open Modal</span></a></li>
            
        </ul>
    </div>
    <span disabled="true" style="display: block;" class="jcarousel-prev jcarousel-prev-horizontal jcarousel-prev-disabled jcarousel-prev-disabled-horizontal">
        &lt;</span><span disabled="false" style="display: block;" class="jcarousel-next jcarousel-next-horizontal">&gt;</span>
</div>

